.inp-group {
  position: relative;
  width: 100%;
  display: flex;
  > input[type='text'] {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-radius: 0;
    border: solid $mute-color 1px;
    border-right: none;
    border-top-left-radius: $radius-size;
    border-bottom-left-radius: $radius-size;
  }

  &--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: flex;
    align-items: center;
    button, a {
      margin-top: 0;
      padding: 8px 15px;
      border-radius: 0;
      border: none;
      background-color: $mute-color;
      border-top-right-radius: $radius-size;
      border-bottom-right-radius: $radius-size;
    }
  }
}
