$icon-color: #999999;
$mute-color: #cccccc;
$brand-color: #ed2126;
$font-color-header: #1a1a1a;
$font-color: #58595b;
$line-color: #c1c1c1;
$facebook-color: #3b5998;
$footer-color: #666666;

$radius-size: .25rem;

$btn-primary-color: #ec2227;
$btn-success-color: #009245;
